# Dependencies
node_modules
server/node_modules

# Build output
# public/build
dist
dist-ssr

# Environment variables
!.env.example
server/.env
server/.env.*
!server/.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
server/server.out.log
server/server.err.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
config.bat
